body{
  font-size:120%;
  font-family: arial;
}

input{
 display: none;
}

input ~ label{
  padding: 0 10px 0 10px;
  text-decoration: underline;
}

input#green ~ label[for=green]{
  color: green;
}
input#green:checked ~ label[for=green]{
  color: green;
  opacity: 0.3;
}

input#blue ~ label[for=blue]{
  color: blue;

}
input#blue:checked ~ label[for=blue]{
  color: blue;
  opacity: 0.3;
}
input#red ~ label[for=red]{
  color: red;
}
input#red:checked ~ label[for=red]{
  color: red;
  opacity: 0.3;
}

input#red:checked ~ span.red{
    display: none; 
}

input#green:checked ~ span.green{
    display: none; 
}

input#blue:checked ~ span.blue{
    display: none; 
}
span{
    font-weight: bold;
}
.red{
  background-color: red;
  color: white;
  border-radius: 7px;
  padding: 0 10px;
  
}
.green{
  background-color: green;
  border-radius: 7px;
  padding: 0 10px;
  color: white;
}
.blue{
  background-color:blue;
  color:white;
  border-radius: 7px;
  padding: 0 10px;
}





